@font-face {
  font-family: "Mazzard Soft";
  src: local("MazzardSoftM-Bold"), url("../fonts/MazzardSoftM-Bold.woff") format("woff"), url("../fonts/MazzardSoftM-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard Soft";
  src: local("MazzardSoftM-Medium"), url("../fonts/MazzardSoftM-Medium.woff") format("woff"), url("../fonts/MazzardSoftM-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard Soft";
  src: local("MazzardSoftM-Regular"), url("../fonts/MazzardSoftM-Regular.woff") format("woff"), url("../fonts/MazzardSoftM-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mazzard Soft";
  src: local("MazzardSoftM-Light"), url("../fonts/MazzardSoftM-Light.woff") format("woff"), url("../fonts/MazzardSoftM-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

:root {
  --white: #ffff;
  --black: #000;
  --light_gray: #fafafa;
  --dark_gray: #787878;
  --light_blue: #c4e4ec;
  --blue: #16b7ff;
  --yellow: #ffe906;
  --orange: rgba(255, 170, 0, 0.55);
  --bg_overlay: rgba(0, 0, 0, 0.4);
  --bg_gray: var(--light_gray);
  --ukr_gradient: linear-gradient(-45deg, var(--yellow), var(--blue));
}

header {
  /*------up_button-------*/
  /*-------loading_screen---------*/
}

header #button {
  display: inline-block;
  background-color: var(--orange);
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 90px;
  right: 70px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

header #button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 66px;
  color: var(--dark_gray);
}

header #button:hover {
  cursor: pointer;
  background: var(--bg_overlay);
}

header #button:active {
  background-color: var(--light_blue);
}

header #button.show {
  opacity: 1;
  visibility: visible;
}

header #overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: var(--bg_overlay);
}

header #overlay .cv-spinner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #overlay .cv-spinner p {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 40px;
  padding-top: 20px;
  color: var(--yellow);
}

header #overlay .spinner {
  width: 40px;
  height: 40px;
  border: 4px var(--light_blue) solid;
  border-top: 4px var(--blue) solid;
  border-radius: 50%;
  -webkit-animation: sp-anime 0.5s infinite linear;
          animation: sp-anime 0.5s infinite linear;
}

@-webkit-keyframes sp-anime {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sp-anime {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header #overlay .is-hide {
  display: none;
}

header nav .container-fluid {
  z-index: 10;
  background-color: var(--light_gray);
  top: 0;
}

header nav .container-fluid .logo a {
  border-radius: 50%;
}

header nav .container-fluid .logo a img {
  -webkit-box-shadow: 0 0 2px 2px #95dbfe;
          box-shadow: 0 0 2px 2px #95dbfe;
  border-radius: 50%;
}

header nav .container-fluid .logo a img:hover {
  -webkit-box-shadow: 0 0 4px 4px #95dbfe;
          box-shadow: 0 0 4px 4px #95dbfe;
}

header nav .container-fluid .collapse .dropdown-recall {
  position: relative;
  display: inline-block;
}

header nav .container-fluid .collapse .dropdown-recall:hover .recall-form {
  display: block;
}

header nav .container-fluid .collapse .dropdown-recall .dropbtn {
  cursor: pointer;
}

header nav .container-fluid .collapse .dropdown-recall .recall-form {
  display: none;
  position: absolute;
  right: -40px;
  border-radius: 10px;
  background-color: var(--white);
  min-width: 250px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}

header nav .container-fluid .collapse .dropdown-recall .recall-form a {
  background: var(--ukr_gradient);
  background-size: 200% 200%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  color: var(--black);
  padding: 13px 32px 12px 32px;
  border-radius: 25px;
  border: none;
}

header nav .container-fluid .collapse .dropdown-recall .recall-form a:hover {
  border: 0;
  color: var(--white);
}

header nav .container-fluid .collapse .dropdown-recall .recall-form a:before {
  display: none;
}

header nav .container-fluid .collapse ul li a {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  padding: 3px 3px 3px 3px;
  margin: 0 5px;
  color: var(--dark_gray);
}

header nav .container-fluid .collapse ul li a:before {
  content: " ";
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  background: var(--light_blue);
  background-size: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
}

header nav .container-fluid .collapse ul li a:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

header nav .container-fluid .collapse ul li a:hover {
  color: var(--black);
}

header nav .container-fluid .collapse ul li ul {
  background-color: var(--white);
  min-width: 75px;
  -webkit-filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
}

header nav .container-fluid .collapse ul li ul li a {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

header nav .container-fluid .collapse ul li ul li a:before {
  display: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

header nav .container-fluid .collapse ul li ul li a:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

header nav .container-fluid .collapse ul li ul li:nth-child(1) a:hover {
  background-image: url("../img/flag_ukraine.webp");
  background-size: cover;
  background-position: center;
}

header nav .container-fluid .collapse ul li ul li:nth-child(2) a:hover {
  background-image: url("../img/flag_ukraine.webp");
  background-size: cover;
  background-position: center;
}

header nav .container-fluid .collapse ul li ul li:nth-child(3) a:hover {
  background-image: url("../img/flag_great_britain.png");
  background-size: cover;
  background-position: center;
}

header .offcanvas .offcanvas-body button {
  background: var(--ukr_gradient);
  background-size: 200% 200%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  color: var(--black);
  padding: 13px 32px;
  border-radius: 25px;
  border: none;
}

header .offcanvas .offcanvas-body button:hover {
  border: 0;
  color: var(--white);
}

.about-us {
  height: 100vh;
  background-color: var(--bg_gray);
}

.about-us .about-us__text {
  padding-top: 200px;
}

.about-us .about-us__text h1 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.about-us .about-us__text p {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 80px;
}

.about-us .about-us__text a {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 16px 40px 14px 40px;
  background: var(--ukr_gradient);
  background-size: 200% 200%;
  border-radius: 100px 100px 100px 100px;
}

.about-us .about-us__text a:hover {
  background: var(--ukr_gradient);
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  color: var(--white);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.projects {
  padding: 80px 0;
  background-color: var(--light_blue);
}

.projects h2 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.projects .projects-card {
  border-radius: 100px 170px 50px 330px;
}

.projects .projects-card h3 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.projects .projects-card__img {
  height: 390px;
  border-radius: 120px 550px 100px 550px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  overflow: hidden;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.projects .projects-card__img a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.humanitarian-aid {
  background-color: var(--white);
}

.humanitarian-aid__text {
  padding-top: 200px;
}

.humanitarian-aid__text h2 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.humanitarian-aid__text p {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.credentials {
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: var(--light_blue);
}

.credentials .credentials__img {
  max-width: 90px;
  margin-bottom: 20px;
}

.credentials h3 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}

.credentials .btn {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 26px;
  padding: 17px 40px 14px 40px;
  background: var(--ukr_gradient);
  background-size: 200% 200%;
  border-radius: 100px 100px 100px 100px;
  color: var(--black);
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  --bs-btn-border-color: var(--light_blue);
}

.credentials .btn:hover {
  background: var(--ukr_gradient);
  background-size: 400% 400%;
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  color: var(--white);
  --bs-btn-border-color: var(--light_blue);
}

.credentials a {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--dark_gray);
}

.credentials a:hover {
  color: var(--black);
}

.partners {
  background: var(--light_gray);
  padding-top: 80px;
  padding-bottom: 40px;
}

.partners h2 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}

.partners .partners__img {
  max-width: 300px;
  max-height: 370px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners .partners__img:hover,
.partners .partners__img:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.partners .partners__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.partners p {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: var(--black);
}

footer {
  background-color: var(--light_blue);
}

footer .container .logo {
  max-width: 60px;
  max-height: 60px;
}

footer .container .logo a {
  border-radius: 50%;
}

footer .container .logo a img {
  -webkit-box-shadow: 0 0 3px 3px #95dbfe;
          box-shadow: 0 0 3px 3px #95dbfe;
  border-radius: 50%;
}

footer .container .logo a img:hover {
  -webkit-box-shadow: 0 0 6px 6px white;
          box-shadow: 0 0 6px 6px white;
}

footer .container h5 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 26px;
}

footer .container a,
footer .container p {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--dark_gray);
}

footer .container a:hover {
  color: var(--black);
}

footer .container .h_black:hover p {
  color: var(--black);
}

/*-------agreement-------*/

.agreement {
  padding-top: 100px;
}

.agreement h2 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.agreement p {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.agreement ul {
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
}

.agreement ul li {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.agreement ul a {
  text-decoration: none;
  color: var(--black);
}

.agreement ul a:hover {
  color: var(--blue);
}

/*-------requisites-------*/

.requisites {
  padding-top: 100px;
  padding-bottom: 40px;
}

.requisites h1 {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 40px;
}

.requisites .accordion {
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-color: var(--blue);
  --bs-accordion-active-color: var(--yellow);
}

.requisites .accordion h2 button {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-shadow: 2px 0 2px var(--dark_gray), 0 2px 2px var(--dark_gray), -2px 0 2px var(--dark_gray), 0 -2px 2px var(--dark_gray);
}

.requisites .accordion .accordion-button.collapsed {
  text-shadow: none;
}

.requisites .accordion ul li {
  font-family: "Mazzard Soft", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

@media (hover) {
  .projects .projects-card {
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
  }

  .projects .projects-card:hover,
  .projects .projects-card:focus-within {
    border-radius: 32px;
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }

  .projects .projects-card:hover .projects-card__img,
  .projects .projects-card:focus-within .projects-card__img {
    border-radius: 32px;
    -webkit-transition-delay: 300ms;
         -o-transition-delay: 300ms;
            transition-delay: 300ms;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }

  .projects .projects-card__img {
    border-radius: 120px 550px 100px 550px;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
  }
}

.webp header nav .container-fluid .collapse ul li ul li:nth-child(3) a:hover { background-image: url(../img/flag_great_britain.webp); }